html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 16pt;
}

.header {
    display: block;
    max-height: 100%;
}

.header-image {
    background-image: url('foto-top.jpg'); 
    height: 700px;
    color: white;
    background-attachment: fixed; 
    background-position: fixed; 
    background-repeat: no-repeat; 
    background-size: cover; 
    display: grid;
    place-items: center;
}

.center {
    display: grid;
    place-items: center;
    text-align: center;
}

h1 {
    font-size: 48pt;
}

h2 {
    font-size: 32pt;
    text-align: center;
}
.button {
    background-color: #2596be;
    padding: 10px;
    border-radius: 15px;
    font-size: 24pt;
    color: white;
    text-decoration: none;

}

.fz24 {
    font-size: 24pt;
}

.bar {
    border: 1px solid black;
    width: 70%;
    text-align: center;
}

.Quellen {
    font-size: 16pt;
    text-align: center;
}

footer {
    text-align: center;
    color: lightgray;
    font-size: 11pt;
    display: block;
}
